on: workflow_dispatch

jobs:
  check:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        emacs: [26.1, 26.2, 26.3, 27.1]
    steps:
      - uses: actions/checkout@v2.3.4
      - uses: purcell/setup-emacs@v3.0
        with:
          version: ${{ matrix.emacs }}
      - uses: leotaku/elisp-check@v1.0
        with:
          file: ednc.el
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
      - run: |
          sudo apt-get update
          sudo apt-get install -y dbus-x11 emacs
          dbus-launch emacs -Q --batch -L . -l test.el -f ert-run-tests-batch-and-exit
